@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #121212; */
  background: linear-gradient(rgb(15 23 42), rgb(15 23 52), rgb(29 37 61), rgb(15 23 42));

}

#logo {
  font-size: 2rem;
  letter-spacing: .25rem;
  background: linear-gradient(40deg, #00ffff, #001aff, #00ffff, #002fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

#logoIcon {
  font-size: 2rem;
  background: linear-gradient(40deg, #00ffff, #001aff, #00ffff, #002fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  animation: moving 5s linear infinite;
  position: absolute;
  bottom: -5px;
}

@keyframes moving {
  0% {
    left: -0px;
    /* Start off-screen */
  }

  100% {
    left: 300px;
    /* Move off the screen */
  }
}


::-webkit-scrollbar {
  width: 0;
}

dialog {
  top: 0;
  left: 0;
  margin: auto auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  animation: slide-down-fade-in 0.2s ease-out forwards;
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ul {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}

.ul li {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: slide-up-fade-in 0.3s ease-out forwards;
}

/* .ul li:nth-child(odd) :hover {
  background: linear-gradient(to right, #00b09b, #96c93d);
  }
  
  .ul li:nth-child(even) :hover {
  background: linear-gradient(to right, #6b11cb86, #2574fc86);
} */

@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}